<div class="login-container">
  <img class="reyna" src="/src/assets/img/maxresdefault.jpg" alt="reyna" />
  <div class="video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/3AbponRiotc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="logo">How To Clutch</div>
  <div class="desc">
    Clutch: A type of round outcome where the round was won by the last player
    alive on the team. Flawless: A type of round outcome where no one on the
    winning team died.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
